In [734]:
import pandas as pd
import numpy as np
from nocasedict import NocaseDict
import simplejson
import math
from IPython.display import display, HTML

pd.set_option('display.max_columns', None)

In [735]:
def displaywithHeader(df, title) :
    display(HTML(f'<h3>{title}</h3>'))
    display(df.head(3))

## Get Data

### Get Spatial Hub Data

In [736]:
#Main Data Collection
data = pd.read_csv('https://data.spatialhub.scot/dataset/9a3728b4-49ea-40af-ab10-fc0305bace84/resource/8df819b0-d082-46de-bc43-6b04dbb38e20/download/la_datacsv.csv')

#Scotland Values
scotValuesReal = pd.read_csv('https://data.spatialhub.scot/dataset/9a3728b4-49ea-40af-ab10-fc0305bace84/resource/7ba35197-7ca7-4477-a38b-01fd4180466b/download/lgbf_data_table_real.csv')
scotValuesCash = pd.read_csv('https://data.spatialhub.scot/dataset/9a3728b4-49ea-40af-ab10-fc0305bace84/resource/77c2bc92-ad24-401c-8b53-2160cd12e287/download/lgbf_data_table_cash.csv')

displaywithHeader(data,'data')
displaywithHeader(scotValuesReal,'scotValuesReal')
displaywithHeader(scotValuesCash,'scotValuesCash')

,LA_Data_LocalAuthority,LA_Data_LGBF_Year,LA_Data_IndicatorCode,LA_Data_IndicatorCash,LA_Data_NumeratorCash,LA_Data_DenominatorCash,LA_Data_IndicatorReal,LA_Data_NumeratorReal,LA_Data_DenominatorReal,LA_Data_FamilyGroup,LA_Data_Key_CodePeriod,LA_Data_Key_CodePeriodLA,LA_Data_Key_CodePeriodFG
0,Aberdeen City,2007-11,ENV04e,0.305982,NaN,NaN,0.305982,NaN,NaN,Urban,ENV04e2007-11,ENV04e2007-11Aberdeen City,ENV04e2007-11Urban
1,Aberdeen City,2008-12,ENV04e,0.364000,NaN,NaN,0.364000,NaN,NaN,Urban,ENV04e2008-12,ENV04e2008-12Aberdeen City,ENV04e2008-12Urban
2,Aberdeen City,2009-11,ENV04b,0.254941,NaN,NaN,0.254941,NaN,NaN,Urban,ENV04b2009-11,ENV04b2009-11Aberdeen City,ENV04b2009-11Urban

,Code,LocalAuthority,Year,LA_IndicatorReal,LA_Numerator_real,LA_Den_Real,Scotland_Indicator_Real,Scotland_Num_Real,Scotland_Den_Real,FG_Avg_Indicator_Real,FG_Avg_Num_Real,FG_Avg_Den_Real,FamilyGroup
0,C&L01,Aberdeen City,2010-11,0.4305,830.9841,1922292.0,4.6311,210605.5487,45459818.0,4.536500,11277.47824,2200418.875,Urban
1,C&L01,Aberdeen City,2011-12,0.9743,1992.1264,2045051.0,4.1406,199366.4679,48202343.0,4.406650,10768.73131,2355970.750,Urban
2,C&L01,Aberdeen City,2012-13,4.5821,9923.3499,2163756.0,3.9527,203940.3869,51624697.0,4.604163,11924.25878,2601296.500,Urban

,LocalAuthority,IndicatorCode,Year,IndicatorCash_LA,NumeratorCash_LA,DenominatorCash_LA,IndicatorCash_Scotland,NumeratorCash_Scotland,DenominatorCash_Scotland,IndicatorCash_FG,NumeratorCash_FG,DenominatorCash_FG,FamilyGroup
0,Aberdeen City,C&L01,2010-11,0.33,637.0,1922292.0,3.55,161442.0,45459818.0,3.4775,8644.875,2200418.875,Urban
1,Aberdeen City,C&L01,2011-12,0.76,1554.0,2045051.0,3.23,155520.0,48202343.0,3.4375,8400.375,2355970.750,Urban
2,Aberdeen City,C&L01,2012-13,3.64,7883.0,2163756.0,3.14,162008.0,51624697.0,3.6575,9472.500,2601296.500,Urban

### Load Family Group and Indicator Info Datasets

In [737]:
info = pd.read_csv('Data Files\\Indicator Information.csv')
fg = pd.read_csv('Data Files\\Family Groups.csv')

displaywithHeader(info,'info')
displaywithHeader(fg,'familygroups')

,Title,Code,Code_Sortable,ReportingPeriod,MeasureType,NumberFormat,YMin,YMax,ISCategory,Committee,FamilyGrouping,StirlingService,Ranking_Type,NumberFormat_NoText,Source,Numerator_Correct,Denominator_Correct,Numerator_Match,Denominator_Match,Numerator_Multipier,Denominator_Multiplier,Ranking_GoldilocksMidpoint,NumberFormat_Axis,Format_Python,FormatAxis_Python,AdditionalAxisDenominator_Python,FormatAxis_Plotly_Prefix,FormatAxis_Plotly_Suffix,ImgPxlWidth_Plotly,ImgPxlHeight_Plotly,SubGroup_PythonReport,YMin_Plotly,YMax_Plotly,OData__ColorTag,Group_PythonReport
0,Net Cost of Waste Collection per Premises,ENV01a,ENV 01a,Annual,Cost,'£ '0,40.0,NaN,Environmental Services,Environment and Housing,"Environmental, Culture & Leisure, Economic Dev...",Environment & Place ; Waste Services,Ascending,0.0,For more details on Net Waste Collection Costs...,Waste collection - Net expenditure,Number of Premises for Refuse Collection,Waste collection - Net expenditure (£000s),Number of Premises for Refuse Collection,1000.0,1.0,NaN,'£ '0,£ {:0.0f},",d",1,£,NaN,812,305,Waste & Recycling,NaN,NaN,NaN,Environment
1,Net Cost of Waste Disposal per Premises,ENV02a,ENV 02a,Annual,Cost,'£ '0,60.0,NaN,Environmental Services,Environment and Housing,"Environmental, Culture & Leisure, Economic Dev...",Environment & Place ; Waste Services,Ascending,0.0,For more details on Net Waste Collection Costs...,Waste disposal - Net expenditure,Number of Premises for Refuse Collection,Waste disposal - Net expenditure (£000s),Number of Premises for Refuse Collection,1000.0,1.0,NaN,'£ '0,£ {:0.0f},",d",1,£,NaN,812,305,Waste & Recycling,70.0,115.0,NaN,Environment
2,The % of Total Household Waste Arising that is...,ENV06,ENV 06,Annual,Percentage,0.0%,40.0,100.0,Environmental Services,Environment and Housing,"Environmental, Culture & Leisure, Economic Dev...",Environment & Place ; Waste Services,Descending,0.0,Data is available for each council on the SEPA...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%,{:.1%},",.0%",1,NaN,NaN,812,305,Waste & Recycling,0.4,0.6,NaN,Environment

,Family_Group,Local_Authority,Type
0,Family Group 1,Eilean Siar,"Environmental, Culture & Leisure, Economic Dev..."
1,Family Group 1,Argyll & Bute,"Environmental, Culture & Leisure, Economic Dev..."
2,Family Group 1,Shetland Islands,"Environmental, Culture & Leisure, Economic Dev..."

## Initial Data Transformations

### Split To Rows

In [738]:
# Separate Real and Cash Columns Into Dataframes
real = data[['LA_Data_LocalAuthority','LA_Data_LGBF_Year','LA_Data_IndicatorCode', 'LA_Data_IndicatorReal','LA_Data_NumeratorReal','LA_Data_DenominatorReal']]
cash = data[['LA_Data_LocalAuthority','LA_Data_LGBF_Year','LA_Data_IndicatorCode', 'LA_Data_IndicatorCash','LA_Data_NumeratorCash','LA_Data_DenominatorCash']]

# Rename Columns to Append
real = real.rename(
                columns = {
                            'LA_Data_IndicatorCode': 'Code',
                            'LA_Data_LocalAuthority': 'LocalAuthority',
                            'LA_Data_LGBF_Year': 'Period',
                            'LA_Data_IndicatorReal' : 'Value',
                            'LA_Data_NumeratorReal' : 'Numerator',
                            'LA_Data_DenominatorReal' : 'Denominator'
                        }
            )
cash = cash.rename(
                columns = {
                            'LA_Data_IndicatorCode': 'Code',
                            'LA_Data_LocalAuthority': 'LocalAuthority',
                            'LA_Data_LGBF_Year': 'Period',
                            'LA_Data_IndicatorCash' : 'Value',
                            'LA_Data_NumeratorCash' : 'Numerator',
                            'LA_Data_DenominatorCash' : 'Denominator'
                        }
            )

# Add Data Type Column
real['DataType'] = 'Real'
cash['DataType'] = 'Cash'

# Append Together
data = pd.concat([real, cash], ignore_index=True)

displaywithHeader(data,'data')

  LocalAuthority   Period    Code     Value  Numerator  Denominator DataType
0  Aberdeen City  2007-11  ENV04e  0.305982        NaN          NaN     Real
1  Aberdeen City  2008-12  ENV04e  0.364000        NaN          NaN     Real
2  Aberdeen City  2009-11  ENV04b  0.254941        NaN          NaN     Real

### Add in Missing Annual Indicator Data for SW08,ECON 12a and ECON 12b

In [739]:
missing_data = pd.read_csv('Raw Data Files\\MissingData_Real.csv')
data = pd.concat([data,missing_data])

displaywithHeader(data,'data')

  LocalAuthority   Period    Code     Value  Numerator  Denominator DataType
0  Aberdeen City  2007-11  ENV04e  0.305982        NaN          NaN     Real
1  Aberdeen City  2008-12  ENV04e  0.364000        NaN          NaN     Real
2  Aberdeen City  2009-11  ENV04b  0.254941        NaN          NaN     Real

### Determine Update Period Types (Annual, Quarterly, Monthly), Create a more Standard Delimiter for Monthly and Quarterly

In [740]:
# Replace Space with ';' as delimiter
data['Period'] = data['Period'].str.replace(' ',';')
data

# Define Function to Identify DataType
Months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

def funcPeriodType(df) :
    if any(substr in df.Period for substr in Months) :
        return f'{df.DataType}_Monthly'
    elif 'Q' in df.Period :
        return f'{df.DataType}_Quarterly'
    else: 
        return f'{df.DataType}_Annual'

# Evaluate DataType over the Dataframe
data['DataType'] = data.apply(funcPeriodType, axis=1)
displaywithHeader(data,'data')

,LocalAuthority,Period,Code,Value,Numerator,Denominator,DataType
0,Aberdeen City,2007-11,ENV04e,0.305982,NaN,NaN,Real_Annual
1,Aberdeen City,2008-12,ENV04e,0.364000,NaN,NaN,Real_Annual
2,Aberdeen City,2009-11,ENV04b,0.254941,NaN,NaN,Real_Annual

### Fix Value Issues

In [741]:
# Fix for CHN14a and CHN14b which are not in decimal percentage format.
data['Value'] = np.where(data['Code'] == 'CHN14a', data['Value'] / 100, data['Value'])
data['Value'] = np.where(data['Code'] == 'CHN14b', data['Value'] / 100, data['Value'])

#Remove NA Rows
data = data[data['Value'].notna()]
displaywithHeader(data,'data')

,LocalAuthority,Period,Code,Value,Numerator,Denominator,DataType
0,Aberdeen City,2007-11,ENV04e,0.305982,NaN,NaN,Real_Annual
1,Aberdeen City,2008-12,ENV04e,0.364000,NaN,NaN,Real_Annual
2,Aberdeen City,2009-11,ENV04b,0.254941,NaN,NaN,Real_Annual

## Process Scotland Values into Single Dataframe

In [742]:
# Select Only Relevant Columns From Scotland Values
scotValuesReal = scotValuesReal[['Code','Year','Scotland_Indicator_Real','Scotland_Num_Real','Scotland_Den_Real']]
scotValuesCash = scotValuesCash[['IndicatorCode','Year','IndicatorCash_Scotland','NumeratorCash_Scotland','DenominatorCash_Scotland']]

# Rename Columns from Scotland Values
scotValuesReal = scotValuesReal.rename(
                columns = {
                            'Year': 'Period',
                            'Scotland_Indicator_Real' : 'Value',
                            'Scotland_Num_Real' : 'Numerator',
                            'Scotland_Den_Real' : 'Denominator'
                        }
            )
scotValuesCash = scotValuesCash.rename(
                columns = {
                            'IndicatorCode': 'Code',
                            'Year': 'Period',
                            'IndicatorCash_Scotland' : 'Value',
                            'NumeratorCash_Scotland' : 'Numerator',
                            'DenominatorCash_Scotland' : 'Denominator'
                        }
            )

# Add Type
scotValuesReal['DataType'] = 'Real_Annual'
scotValuesCash['DataType'] = 'Cash_Annual'

# Append Together
scotValues = pd.concat([scotValuesReal, scotValuesCash], ignore_index=True)

# Fix for CHN14a and CHN14b which are not in decimal percentage format.
scotValues['Value'] = np.where(scotValues['Code'] == 'CHN14a', scotValues['Value'] / 100, scotValues['Value'])
scotValues['Value'] = np.where(scotValues['Code'] == 'CHN14b', scotValues['Value'] / 100, scotValues['Value'])

# Remove any NA values
scotValues = scotValues[scotValues['Value'].notna()]

displaywithHeader(scotValues,'scotValues')

    Code   Period   Value    Numerator  Denominator     DataType
0  C&L01  2010-11  4.6311  210605.5487   45459818.0  Real_Annual
1  C&L01  2011-12  4.1406  199366.4679   48202343.0  Real_Annual
2  C&L01  2012-13  3.9527  203940.3869   51624697.0  Real_Annual

## Transform Dataframes using Info and Family Group Data

### Merge Info and Family Group Dataframes

In [743]:
# Merge Dataframes
data = data.merge(info, how='left', on='Code')
data = data.merge(fg, how='left', right_on=['Local_Authority', 'Type'], left_on=['LocalAuthority', 'FamilyGrouping'])

scotValues = scotValues.merge(info, how='left', on='Code')

# Select Only Relevant Columns
data = data[[
    'Code_Sortable',
    'LocalAuthority',
    'Period',
    'Value',
    'Numerator',
    'Denominator',
    'FamilyGrouping',
    'Ranking_Type',
    'Ranking_GoldilocksMidpoint',
    'Family_Group',
    'Numerator_Multipier',
    'Denominator_Multiplier',
    'DataType'
]]

scotValues = scotValues[[
    'Code_Sortable',
    'Period',
    'Value',
    'Numerator',
    'Denominator',
    'Ranking_Type',
    'Ranking_GoldilocksMidpoint',
    'Numerator_Multipier',
    'Denominator_Multiplier',
    'DataType'
]]

# Rename Columns Appropriately
data = data.rename(columns={
    'Code_Sortable': 'Code',
    'FamilyGrouping': 'FG_Type'
})

scotValues = scotValues.rename(columns={
    'Code_Sortable': 'Code',
})

displaywithHeader(scotValues,'scotValues')
displaywithHeader(data,'data')

,Code,Period,Value,Numerator,Denominator,Ranking_Type,Ranking_GoldilocksMidpoint,Numerator_Multipier,Denominator_Multiplier,DataType
0,C&L 01,2010-11,4.6311,210605.5487,45459818.0,Ascending,NaN,1000.0,1.0,Real_Annual
1,C&L 01,2011-12,4.1406,199366.4679,48202343.0,Ascending,NaN,1000.0,1.0,Real_Annual
2,C&L 01,2012-13,3.9527,203940.3869,51624697.0,Ascending,NaN,1000.0,1.0,Real_Annual

,Code,LocalAuthority,Period,Value,Numerator,Denominator,FG_Type,Ranking_Type,Ranking_GoldilocksMidpoint,Family_Group,Numerator_Multipier,Denominator_Multiplier,DataType
0,ENV 04e,Aberdeen City,2007-11,0.305982,NaN,NaN,"Environmental, Culture & Leisure, Economic Dev...",Ascending,NaN,Family Group 4,NaN,NaN,Real_Annual
1,ENV 04e,Aberdeen City,2008-12,0.364000,NaN,NaN,"Environmental, Culture & Leisure, Economic Dev...",Ascending,NaN,Family Group 4,NaN,NaN,Real_Annual
2,ENV 04b,Aberdeen City,2009-11,0.254941,NaN,NaN,"Environmental, Culture & Leisure, Economic Dev...",Ascending,NaN,Family Group 4,NaN,NaN,Real_Annual

### Apply Numerator and Denominator Multipliers as Required

In [744]:
# Multiply using Info Dataframe Columns
data['Numerator'] = data['Numerator'] * data['Numerator_Multipier']
data['Denominator'] = data['Denominator'] * data['Denominator_Multiplier']

scotValues['Numerator'] = scotValues['Numerator'] * scotValues['Numerator_Multipier']
scotValues['Denominator'] = scotValues['Denominator'] * scotValues['Denominator_Multiplier']

# Remove Multiplier Columns
data = data.drop(columns= ['Numerator_Multipier','Denominator_Multiplier'])
scotValues = scotValues.drop(columns= ['Numerator_Multipier','Denominator_Multiplier'])

displaywithHeader(scotValues,'scotValues')
displaywithHeader(data,'data')

,Code,Period,Value,Numerator,Denominator,Ranking_Type,Ranking_GoldilocksMidpoint,DataType
0,C&L 01,2010-11,4.6311,210605548.7,45459818.0,Ascending,NaN,Real_Annual
1,C&L 01,2011-12,4.1406,199366467.9,48202343.0,Ascending,NaN,Real_Annual
2,C&L 01,2012-13,3.9527,203940386.9,51624697.0,Ascending,NaN,Real_Annual

,Code,LocalAuthority,Period,Value,Numerator,Denominator,FG_Type,Ranking_Type,Ranking_GoldilocksMidpoint,Family_Group,DataType
0,ENV 04e,Aberdeen City,2007-11,0.305982,NaN,NaN,"Environmental, Culture & Leisure, Economic Dev...",Ascending,NaN,Family Group 4,Real_Annual
1,ENV 04e,Aberdeen City,2008-12,0.364000,NaN,NaN,"Environmental, Culture & Leisure, Economic Dev...",Ascending,NaN,Family Group 4,Real_Annual
2,ENV 04b,Aberdeen City,2009-11,0.254941,NaN,NaN,"Environmental, Culture & Leisure, Economic Dev...",Ascending,NaN,Family Group 4,Real_Annual

## Calculate Averages

### Create DataFrames for Average Calculations

In [745]:
data_scotaveragecleaned = data[[
                                'Code',
                                'Period',
                                'Value',
                                'Numerator',
                                'Denominator',
                                'DataType'
                            ]]
data_fgaveragecleaned = data[[
                                'Code',
                                'Period',
                                'Family_Group',
                                'Value',
                                'Numerator',
                                'Denominator',
                                'DataType'
                            ]]

### Mean and Medians - 32 Council (ScotAverages)

In [746]:
scotAverages_Mean = data_scotaveragecleaned.groupby(['Code', 'Period','DataType'], as_index=False).mean()
scotAverages_Median = data_scotaveragecleaned.groupby(['Code', 'Period','DataType'], as_index=False).median()

displaywithHeader(scotAverages_Mean,'scotAverages_Mean')
displaywithHeader(scotAverages_Median,'scotAverages_Median')

     Code   Period     DataType     Value  Numerator   Denominator
0  C&L 01  2010-11  Cash_Annual  3.297813  5045062.5  1.420619e+06
1  C&L 01  2010-11  Real_Annual  4.302094  6581423.4  1.420619e+06
2  C&L 01  2011-12  Cash_Annual  3.134688  4860000.0  1.506323e+06

     Code   Period     DataType   Value  Numerator  Denominator
0  C&L 01  2010-11  Cash_Annual  3.4400  3626500.0    1080558.5
1  C&L 01  2010-11  Real_Annual  4.4876  4730869.4    1080558.5
2  C&L 01  2011-12  Cash_Annual  2.8900  3356500.0    1099975.5

### Sum Num/Den - 32 Council (ScotAverages)

In [747]:
scotAverages_NumDenSums = data_scotaveragecleaned.groupby(['Code', 'Period', 'DataType'], as_index=False).sum()
scotAverages_NumDenSums['Scot_NumDenAv'] = scotAverages_NumDenSums['Numerator'] / scotAverages_NumDenSums['Denominator']
scotAverages_NumDenSums = scotAverages_NumDenSums[['Code', 'Period', 'DataType', 'Scot_NumDenAv']]
scotAverages_NumDenSums = scotAverages_NumDenSums.replace([np.inf, -np.inf], np.nan)

displaywithHeader(scotAverages_NumDenSums,'scotAverages_NumDenSums')

     Code   Period     DataType  Scot_NumDenAv
0  C&L 01  2010-11  Cash_Annual       3.551312
1  C&L 01  2010-11  Real_Annual       4.632785
2  C&L 01  2011-12  Cash_Annual       3.226399

### Merge, rename Columns Add Keys and Sort - 32 Council (ScotAverages)

In [748]:
# Merge DataFrames
scotAverages = scotAverages_Mean.merge(scotAverages_Median, how='left', on=['Code', 'Period','DataType'], suffixes=('_Mean', '_Median'))
scotAverages = scotAverages.merge(scotAverages_NumDenSums, how='left', on=['Code', 'Period', 'DataType'])

# Add Keys
scotAverages['Key_CodePeriodDType'] = scotAverages['Code'] + scotAverages['Period'] + scotAverages['DataType']
scotAverages = scotAverages[['Key_CodePeriodDType','Code', 'Period','DataType', 'Value_Mean', 'Numerator_Mean', 'Denominator_Mean', 'Value_Median', 'Numerator_Median', 'Denominator_Median', 'Scot_NumDenAv']]

# Rename Columns
scotAverages = scotAverages.rename(columns={
    'Value_Mean': 'Value_Scot_Mean',
    'Numerator_Mean': 'Numerator_Scot_Mean',
    'Denominator_Mean': 'Denominator_Scot_Mean',
    'Value_Median': 'Value_Scot_Median',
    'Numerator_Median': 'Numerator_Scot_Median',
    'Denominator_Median': 'Denominator_Scot_Median'
})

displaywithHeader(scotAverages,'scotAverages')

,Key_CodePeriodDType,Code,Period,DataType,Value_Scot_Mean,Numerator_Scot_Mean,Denominator_Scot_Mean,Value_Scot_Median,Numerator_Scot_Median,Denominator_Scot_Median,Scot_NumDenAv
0,C&L 012010-11Cash_Annual,C&L 01,2010-11,Cash_Annual,3.297813,5045062.5,1.420619e+06,3.4400,3626500.0,1080558.5,3.551312
1,C&L 012010-11Real_Annual,C&L 01,2010-11,Real_Annual,4.302094,6581423.4,1.420619e+06,4.4876,4730869.4,1080558.5,4.632785
2,C&L 012011-12Cash_Annual,C&L 01,2011-12,Cash_Annual,3.134688,4860000.0,1.506323e+06,2.8900,3356500.0,1099975.5,3.226399

### Mean and Medians - Family Groups

In [749]:
FGAverages_Mean = data_fgaveragecleaned.groupby(['Code', 'Family_Group', 'Period', 'DataType'], as_index=False).mean()
FGAverages_Median = data_fgaveragecleaned.groupby(['Code', 'Family_Group', 'Period', 'DataType'], as_index=False).median()

displaywithHeader(FGAverages_Mean,'FGAverages_Mean')
displaywithHeader(FGAverages_Median,'FGAverages_Median')

,Code,Family_Group,Period,DataType,Value,Numerator,Denominator
0,C&L 01,Family Group 1,2010-11,Cash_Annual,3.011250,3.076125e+06,923124.125
1,C&L 01,Family Group 1,2010-11,Real_Annual,3.928275,4.012890e+06,923124.125
2,C&L 01,Family Group 1,2011-12,Cash_Annual,3.038750,3.213375e+06,1036476.000

,Code,Family_Group,Period,DataType,Value,Numerator,Denominator
0,C&L 01,Family Group 1,2010-11,Cash_Annual,3.2450,1955000.0,695444.0
1,C&L 01,Family Group 1,2010-11,Real_Annual,4.2332,2550351.5,695444.0
2,C&L 01,Family Group 1,2011-12,Cash_Annual,2.8650,1825500.0,707515.5

### Sum Num/Den - Family Groups

In [750]:
FGAverages_NumDenSums = data_fgaveragecleaned.groupby(['Code', 'Family_Group', 'Period', 'DataType'], as_index=False).sum()
FGAverages_NumDenSums['FG_NumDenAv'] = FGAverages_NumDenSums['Numerator'] / FGAverages_NumDenSums['Denominator']
FGAverages_NumDenSums = FGAverages_NumDenSums[['Code', 'Family_Group', 'Period','DataType', 'FG_NumDenAv']]
FGAverages_NumDenSums = FGAverages_NumDenSums.replace([np.inf, -np.inf], np.nan)



displaywithHeader(FGAverages_NumDenSums,'FGAverages_NumDenSums')

     Code    Family_Group   Period     DataType  FG_NumDenAv
0  C&L 01  Family Group 1  2010-11  Cash_Annual     3.332298
1  C&L 01  Family Group 1  2010-11  Real_Annual     4.347075
2  C&L 01  Family Group 1  2011-12  Cash_Annual     3.100289

### Merge, rename Columns Add Keys and Sort - Family Groups

In [751]:
# Merge DataFrames
FGAverages = FGAverages_Mean.merge(FGAverages_Median, how='left', on=['Code','Family_Group','Period', 'DataType'], suffixes=('_Mean', '_Median'))
FGAverages = FGAverages.merge(FGAverages_NumDenSums, how='left', on=['Code', 'Family_Group', 'Period', 'DataType'])

# Add Keys
FGAverages['Key_CodePeriodDType'] = FGAverages['Code'] + FGAverages['Period'] + FGAverages['DataType'] 
FGAverages = FGAverages[['Key_CodePeriodDType', 'Code', 'Period', 'DataType', 'Family_Group', 'Value_Mean', 'Numerator_Mean', 'Denominator_Mean', 'Value_Median', 'Numerator_Median', 'Denominator_Median', 'FG_NumDenAv']]

# Rename Columns
FGAverages = FGAverages.rename(columns = {
    'Value_Mean': 'Value_FG_Mean',
    'Numerator_Mean': 'Numerator_FG_Mean',
    'Denominator_Mean': 'Denominator_FG_Mean',
    'Value_Median': 'Value_FG_Median',
    'Numerator_Median': 'Numerator_FG_Median',
    'Denominator_Median': 'Denominator_FG_Median'
})

displaywithHeader(FGAverages,'FGAverages')

,Key_CodePeriodDType,Code,Period,DataType,Family_Group,Value_FG_Mean,Numerator_FG_Mean,Denominator_FG_Mean,Value_FG_Median,Numerator_FG_Median,Denominator_FG_Median,FG_NumDenAv
0,C&L 012010-11Cash_Annual,C&L 01,2010-11,Cash_Annual,Family Group 1,3.011250,3.076125e+06,923124.125,3.2450,1955000.0,695444.0,3.332298
1,C&L 012010-11Real_Annual,C&L 01,2010-11,Real_Annual,Family Group 1,3.928275,4.012890e+06,923124.125,4.2332,2550351.5,695444.0,4.347075
2,C&L 012011-12Cash_Annual,C&L 01,2011-12,Cash_Annual,Family Group 1,3.038750,3.213375e+06,1036476.000,2.8650,1825500.0,707515.5,3.100289

## Calculate Rankings

### Create Dataframes for Ranking Calculations

In [752]:
data_fgrankscleaned = data[[
    'Code',
    'LocalAuthority',
    'Period',
    'Value',
    'Family_Group',
    'Ranking_GoldilocksMidpoint',
    'DataType'
]]

familyRanks = data[[
    'Code',
    'LocalAuthority',
    'Period',
    'DataType'
]]

data_scotrankscleaned = data[[
                'Code',
                'LocalAuthority',
                'Period',
                'Value',
                'Ranking_GoldilocksMidpoint',
                'DataType'
            ]]

scotRanks = data[[
    'Code',
    'LocalAuthority',
    'Period',
    'DataType'
]]

# Avoids Potential Writeback Issues
familyRanks = familyRanks.copy(deep=True)
familyRanksGoldi = data_fgrankscleaned.copy(deep=True)

scotRanks = scotRanks.copy(deep=True)
scotRanksGoldi = data_scotrankscleaned.copy(deep=True)

### Calculate Ascending and Descending Rankings

In [753]:
# !!!!Warning!!!! May not work correctly - To be checked
familyRanks['FamilyRank_Desc'] = data_fgrankscleaned.groupby(['Code', 'Period', 'Family_Group', 'DataType'])['Value'].rank('min', ascending=False).astype(int)
familyRanks['FamilyRank_Asc'] = data_fgrankscleaned.groupby(['Code', 'Period', 'Family_Group', 'DataType'])['Value'].rank('min', ascending=True).astype(int)
familyRanks['FamilyRank_Desc_Pct'] = data_fgrankscleaned.groupby(['Code', 'Period', 'Family_Group', 'DataType'])['Value'].rank('min', ascending=False, pct=True).astype(float)
familyRanks['FamilyRank_Asc_Pct'] = data_fgrankscleaned.groupby(['Code', 'Period', 'Family_Group', 'DataType'])['Value'].rank('min', ascending=True, pct=True).astype(float)

scotRanks['ScotRank_Desc'] = data_scotrankscleaned.groupby(['Code', 'Period', 'DataType'])['Value'].rank('min', ascending=False).astype(int)
scotRanks['ScotRank_Asc'] = data_scotrankscleaned.groupby(['Code', 'Period', 'DataType'])['Value'].rank('min', ascending=True).astype(int)
scotRanks['ScotRank_Desc_Pct'] = data_scotrankscleaned.groupby(['Code', 'Period','DataType'])['Value'].rank('min', ascending=False, pct=True).astype(float)
scotRanks['ScotRank_Asc_Pct'] = data_scotrankscleaned.groupby(['Code', 'Period', 'DataType'])['Value'].rank('min', ascending=True, pct=True).astype(float)

displaywithHeader(familyRanks,'familyRanks')
displaywithHeader(scotRanks,'scotRanks')

,Code,LocalAuthority,Period,DataType,FamilyRank_Desc,FamilyRank_Asc,FamilyRank_Desc_Pct,FamilyRank_Asc_Pct
0,ENV 04e,Aberdeen City,2007-11,Real_Annual,7,2,0.875,0.25
1,ENV 04e,Aberdeen City,2008-12,Real_Annual,3,6,0.375,0.75
2,ENV 04b,Aberdeen City,2009-11,Real_Annual,7,2,0.875,0.25

,Code,LocalAuthority,Period,DataType,ScotRank_Desc,ScotRank_Asc,ScotRank_Desc_Pct,ScotRank_Asc_Pct
0,ENV 04e,Aberdeen City,2007-11,Real_Annual,27,6,0.84375,0.18750
1,ENV 04e,Aberdeen City,2008-12,Real_Annual,18,15,0.56250,0.46875
2,ENV 04b,Aberdeen City,2009-11,Real_Annual,22,11,0.68750,0.34375

### Calculate FG Goldilocks Ranking

In [754]:
# Define functions to determine distance between two values and use this to return absolute distance from goldilocks value
def distance(Current, Previous):
    return (max(Previous, Current) - min(Previous, Current)) * (-1 if Previous > Current else 1)

def DifferenceFromGoldilocksMidPoint(df):
    if df['Ranking_GoldilocksMidpoint'] == None:
        return None
    else:
        return abs(distance(df['Value'], df['Ranking_GoldilocksMidpoint']))

# Apply Functions Above to Calculate Goldilocks Rankings
familyRanksGoldi['AbsoluteDifferenceFromGoldilocksMidPoint'] = familyRanksGoldi.apply(DifferenceFromGoldilocksMidPoint, axis=1)
familyRanksGoldi = familyRanksGoldi[pd.notnull(familyRanksGoldi['AbsoluteDifferenceFromGoldilocksMidPoint'])]
familyRanksGoldi['FamilyRank_Goldi'] = familyRanksGoldi.groupby(['Code', 'Period', 'Family_Group', 'DataType'])['AbsoluteDifferenceFromGoldilocksMidPoint'].rank('min', ascending=True).astype(int)
familyRanksGoldi['FamilyRank_Goldi_Pct'] = familyRanksGoldi.groupby(['Code', 'Period', 'Family_Group', 'DataType'])['AbsoluteDifferenceFromGoldilocksMidPoint'].rank('min', ascending=True, pct=True).astype(float)

scotRanksGoldi['AbsoluteDifferenceFromGoldilocksMidPoint'] = scotRanksGoldi.apply(DifferenceFromGoldilocksMidPoint, axis=1)
scotRanksGoldi = scotRanksGoldi[pd.notnull(scotRanksGoldi['AbsoluteDifferenceFromGoldilocksMidPoint'])]
scotRanksGoldi['ScotRank_Goldi'] = scotRanksGoldi.groupby(['Code', 'Period', 'DataType'])['AbsoluteDifferenceFromGoldilocksMidPoint'].rank('min', ascending=True).astype(int)
scotRanksGoldi['ScotRank_Goldi_Pct'] = scotRanksGoldi.groupby(['Code', 'Period', 'DataType'])['AbsoluteDifferenceFromGoldilocksMidPoint'].rank('min', ascending=True, pct=True).astype(float)

displaywithHeader(familyRanksGoldi,'familyRanksGoldi')
displaywithHeader(scotRanksGoldi,'scotRanksGoldi')

,Code,LocalAuthority,Period,Value,Family_Group,Ranking_GoldilocksMidpoint,DataType,AbsoluteDifferenceFromGoldilocksMidPoint,FamilyRank_Goldi,FamilyRank_Goldi_Pct
43,CORP 03b,Aberdeen City,2010-11,0.4665,Family Group 4,0.5,Real_Annual,0.0335,4,0.500
126,CORP 03b,Aberdeen City,2011-12,0.4491,Family Group 4,0.5,Real_Annual,0.0509,6,0.750
208,CORP 03b,Aberdeen City,2012-13,0.4969,Family Group 4,0.5,Real_Annual,0.0031,1,0.125

,Code,LocalAuthority,Period,Value,Ranking_GoldilocksMidpoint,DataType,AbsoluteDifferenceFromGoldilocksMidPoint,ScotRank_Goldi,ScotRank_Goldi_Pct
43,CORP 03b,Aberdeen City,2010-11,0.4665,0.5,Real_Annual,0.0335,11,0.34375
126,CORP 03b,Aberdeen City,2011-12,0.4491,0.5,Real_Annual,0.0509,20,0.62500
208,CORP 03b,Aberdeen City,2012-13,0.4969,0.5,Real_Annual,0.0031,1,0.03125

### Merge Ranking Tables

In [755]:
familyRanks = familyRanks.merge(familyRanksGoldi[['Code', 'Period', 'LocalAuthority', 'FamilyRank_Goldi', 'FamilyRank_Goldi_Pct', 'DataType']], how='left', on=['Code', 'Period', 'LocalAuthority', 'DataType'], suffixes=('_FamilyRank', '_Goldi'))
familyRanks = familyRanks.merge(info, how = 'left', left_on= 'Code', right_on = 'Code_Sortable')

scotRanks = scotRanks.merge(scotRanksGoldi[['Code', 'Period', 'LocalAuthority', 'ScotRank_Goldi', 'ScotRank_Goldi_Pct', 'DataType']], how='left', on=['Code', 'Period', 'LocalAuthority', 'DataType'], suffixes=('_ScotRank', '_Goldi'))
scotRanks = scotRanks.merge(info, how='left', left_on='Code', right_on='Code_Sortable')

displaywithHeader(familyRanks,'familyRanks')
displaywithHeader(scotRanks,'scotRanks')

,Code_x,LocalAuthority,Period,DataType,FamilyRank_Desc,FamilyRank_Asc,FamilyRank_Desc_Pct,FamilyRank_Asc_Pct,FamilyRank_Goldi,FamilyRank_Goldi_Pct,Title,Code_y,Code_Sortable,ReportingPeriod,MeasureType,NumberFormat,YMin,YMax,ISCategory,Committee,FamilyGrouping,StirlingService,Ranking_Type,NumberFormat_NoText,Source,Numerator_Correct,Denominator_Correct,Numerator_Match,Denominator_Match,Numerator_Multipier,Denominator_Multiplier,Ranking_GoldilocksMidpoint,NumberFormat_Axis,Format_Python,FormatAxis_Python,AdditionalAxisDenominator_Python,FormatAxis_Plotly_Prefix,FormatAxis_Plotly_Suffix,ImgPxlWidth_Plotly,ImgPxlHeight_Plotly,SubGroup_PythonReport,YMin_Plotly,YMax_Plotly,OData__ColorTag,Group_PythonReport
0,ENV 04e,Aberdeen City,2007-11,Real_Annual,7,2,0.875,0.25,NaN,NaN,% of Unclassified Roads That Should be Conside...,ENV04e,ENV 04e,4 Year Aggregates,Percentage,0.0%,20.0,60.0,Environmental Services,Environment and Housing,"Environmental, Culture & Leisure, Economic Dev...",Environment & Place ; Roads & Land Operations,Ascending,0.0,SCOTS (Society of Chief Officers of Transporta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%,{:.1%},",.0%",1,NaN,NaN,812,305,Road Maintenance,NaN,NaN,NaN,Environment
1,ENV 04e,Aberdeen City,2008-12,Real_Annual,3,6,0.375,0.75,NaN,NaN,% of Unclassified Roads That Should be Conside...,ENV04e,ENV 04e,4 Year Aggregates,Percentage,0.0%,20.0,60.0,Environmental Services,Environment and Housing,"Environmental, Culture & Leisure, Economic Dev...",Environment & Place ; Roads & Land Operations,Ascending,0.0,SCOTS (Society of Chief Officers of Transporta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%,{:.1%},",.0%",1,NaN,NaN,812,305,Road Maintenance,NaN,NaN,NaN,Environment
2,ENV 04b,Aberdeen City,2009-11,Real_Annual,7,2,0.875,0.25,NaN,NaN,% of A class Roads That Should be Considered f...,ENV04b,ENV 04b,2 Year Aggregates (annual),Percentage,0.0%,20.0,40.0,Environmental Services,Environment and Housing,"Environmental, Culture & Leisure, Economic Dev...",Environment & Place ; Roads & Land Operations,Ascending,0.0,SCOTS (Society of Chief Officers of Transporta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%,{:.1%},",.0%",1,NaN,NaN,812,305,Road Maintenance,NaN,NaN,NaN,Environment

,Code_x,LocalAuthority,Period,DataType,ScotRank_Desc,ScotRank_Asc,ScotRank_Desc_Pct,ScotRank_Asc_Pct,ScotRank_Goldi,ScotRank_Goldi_Pct,Title,Code_y,Code_Sortable,ReportingPeriod,MeasureType,NumberFormat,YMin,YMax,ISCategory,Committee,FamilyGrouping,StirlingService,Ranking_Type,NumberFormat_NoText,Source,Numerator_Correct,Denominator_Correct,Numerator_Match,Denominator_Match,Numerator_Multipier,Denominator_Multiplier,Ranking_GoldilocksMidpoint,NumberFormat_Axis,Format_Python,FormatAxis_Python,AdditionalAxisDenominator_Python,FormatAxis_Plotly_Prefix,FormatAxis_Plotly_Suffix,ImgPxlWidth_Plotly,ImgPxlHeight_Plotly,SubGroup_PythonReport,YMin_Plotly,YMax_Plotly,OData__ColorTag,Group_PythonReport
0,ENV 04e,Aberdeen City,2007-11,Real_Annual,27,6,0.84375,0.18750,NaN,NaN,% of Unclassified Roads That Should be Conside...,ENV04e,ENV 04e,4 Year Aggregates,Percentage,0.0%,20.0,60.0,Environmental Services,Environment and Housing,"Environmental, Culture & Leisure, Economic Dev...",Environment & Place ; Roads & Land Operations,Ascending,0.0,SCOTS (Society of Chief Officers of Transporta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%,{:.1%},",.0%",1,NaN,NaN,812,305,Road Maintenance,NaN,NaN,NaN,Environment
1,ENV 04e,Aberdeen City,2008-12,Real_Annual,18,15,0.56250,0.46875,NaN,NaN,% of Unclassified Roads That Should be Conside...,ENV04e,ENV 04e,4 Year Aggregates,Percentage,0.0%,20.0,60.0,Environmental Services,Environment and Housing,"Environmental, Culture & Leisure, Economic Dev...",Environment & Place ; Roads & Land Operations,Ascending,0.0,SCOTS (Society of Chief Officers of Transporta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%,{:.1%},",.0%",1,NaN,NaN,812,305,Road Maintenance,NaN,NaN,NaN,Environment
2,ENV 04b,Aberdeen City,2009-11,Real_Annual,22,11,0.68750,0.34375,NaN,NaN,% of A class Roads That Should be Considered f...,ENV04b,ENV 04b,2 Year Aggregates (annual),Percentage,0.0%,20.0,40.0,Environmental Services,Environment and Housing,"Environmental, Culture & Leisure, Economic Dev...",Environment & Place ; Roads & Land Operations,Ascending,0.0,SCOTS (Society of Chief Officers of Transporta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%,{:.1%},",.0%",1,NaN,NaN,812,305,Road Maintenance,NaN,NaN,NaN,Environment

### Select Correct Ranking

In [756]:
# Define functions needed to select correct ranking type and percentile type
def Rank_select(df, dftitle):
    if df['Ranking_Type'] == "Ascending" and dftitle == 'familyRanks':
        return df['FamilyRank_Asc']
    elif df['Ranking_Type'] == "Ascending" and dftitle == 'scotRanks':
        return df['ScotRank_Asc']
    elif df['Ranking_Type'] == "Descending" and dftitle == 'familyRanks':
        return df['FamilyRank_Desc']
    elif df['Ranking_Type'] == "Descending" and dftitle == 'scotRanks':
        return df['ScotRank_Desc']
    elif df['Ranking_Type'] == "Goldilocks" and dftitle == 'familyRanks':
        return df['FamilyRank_Goldi']
    elif df['Ranking_Type'] == "Goldilocks" and dftitle == 'scotRanks':
        return df['ScotRank_Goldi']
    else:
        return None

def Rank_Pct_select(df, dftitle):
    if df['Ranking_Type'] == "Ascending" and dftitle == 'familyRanks':
        return df['FamilyRank_Asc_Pct']
    if df['Ranking_Type'] == "Ascending" and dftitle == 'scotRanks':
        return df['ScotRank_Asc_Pct']
    elif df['Ranking_Type'] == "Descending" and dftitle == 'familyRanks':
        return df['FamilyRank_Desc_Pct']
    elif df['Ranking_Type'] == "Descending" and dftitle == 'scotRanks':
        return df['ScotRank_Desc_Pct']
    elif df['Ranking_Type'] == "Goldilocks" and dftitle == 'familyRanks':
        return df['FamilyRank_Goldi_Pct']
    elif df['Ranking_Type'] == "Goldilocks" and dftitle == 'scotRanks':
        return df['ScotRank_Goldi_Pct']
    else:
        return None

# Apply functions above to create two new columns that contain the correct rank and percentile for each row
familyRanks['FamilyRank'] = familyRanks.apply(Rank_select, axis=1, dftitle = 'familyRanks')
familyRanks['FamilyPct'] = familyRanks.apply(Rank_Pct_select, axis=1, dftitle = 'familyRanks')

# Apply functions above to create two new columns that contain the correct rank and percentile for each row
scotRanks['ScotRank'] = scotRanks.apply(Rank_select, axis=1, dftitle = 'scotRanks')
scotRanks['ScotPct'] = scotRanks.apply(Rank_Pct_select, axis=1, dftitle = 'scotRanks')

displaywithHeader(familyRanks,'familyRanks')
displaywithHeader(familyRanks,'scotRanks')

,Code_x,LocalAuthority,Period,DataType,FamilyRank_Desc,FamilyRank_Asc,FamilyRank_Desc_Pct,FamilyRank_Asc_Pct,FamilyRank_Goldi,FamilyRank_Goldi_Pct,Title,Code_y,Code_Sortable,ReportingPeriod,MeasureType,NumberFormat,YMin,YMax,ISCategory,Committee,FamilyGrouping,StirlingService,Ranking_Type,NumberFormat_NoText,Source,Numerator_Correct,Denominator_Correct,Numerator_Match,Denominator_Match,Numerator_Multipier,Denominator_Multiplier,Ranking_GoldilocksMidpoint,NumberFormat_Axis,Format_Python,FormatAxis_Python,AdditionalAxisDenominator_Python,FormatAxis_Plotly_Prefix,FormatAxis_Plotly_Suffix,ImgPxlWidth_Plotly,ImgPxlHeight_Plotly,SubGroup_PythonReport,YMin_Plotly,YMax_Plotly,OData__ColorTag,Group_PythonReport,FamilyRank,FamilyPct
0,ENV 04e,Aberdeen City,2007-11,Real_Annual,7,2,0.875,0.25,NaN,NaN,% of Unclassified Roads That Should be Conside...,ENV04e,ENV 04e,4 Year Aggregates,Percentage,0.0%,20.0,60.0,Environmental Services,Environment and Housing,"Environmental, Culture & Leisure, Economic Dev...",Environment & Place ; Roads & Land Operations,Ascending,0.0,SCOTS (Society of Chief Officers of Transporta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%,{:.1%},",.0%",1,NaN,NaN,812,305,Road Maintenance,NaN,NaN,NaN,Environment,2.0,0.25
1,ENV 04e,Aberdeen City,2008-12,Real_Annual,3,6,0.375,0.75,NaN,NaN,% of Unclassified Roads That Should be Conside...,ENV04e,ENV 04e,4 Year Aggregates,Percentage,0.0%,20.0,60.0,Environmental Services,Environment and Housing,"Environmental, Culture & Leisure, Economic Dev...",Environment & Place ; Roads & Land Operations,Ascending,0.0,SCOTS (Society of Chief Officers of Transporta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%,{:.1%},",.0%",1,NaN,NaN,812,305,Road Maintenance,NaN,NaN,NaN,Environment,6.0,0.75
2,ENV 04b,Aberdeen City,2009-11,Real_Annual,7,2,0.875,0.25,NaN,NaN,% of A class Roads That Should be Considered f...,ENV04b,ENV 04b,2 Year Aggregates (annual),Percentage,0.0%,20.0,40.0,Environmental Services,Environment and Housing,"Environmental, Culture & Leisure, Economic Dev...",Environment & Place ; Roads & Land Operations,Ascending,0.0,SCOTS (Society of Chief Officers of Transporta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%,{:.1%},",.0%",1,NaN,NaN,812,305,Road Maintenance,NaN,NaN,NaN,Environment,2.0,0.25

,Code_x,LocalAuthority,Period,DataType,FamilyRank_Desc,FamilyRank_Asc,FamilyRank_Desc_Pct,FamilyRank_Asc_Pct,FamilyRank_Goldi,FamilyRank_Goldi_Pct,Title,Code_y,Code_Sortable,ReportingPeriod,MeasureType,NumberFormat,YMin,YMax,ISCategory,Committee,FamilyGrouping,StirlingService,Ranking_Type,NumberFormat_NoText,Source,Numerator_Correct,Denominator_Correct,Numerator_Match,Denominator_Match,Numerator_Multipier,Denominator_Multiplier,Ranking_GoldilocksMidpoint,NumberFormat_Axis,Format_Python,FormatAxis_Python,AdditionalAxisDenominator_Python,FormatAxis_Plotly_Prefix,FormatAxis_Plotly_Suffix,ImgPxlWidth_Plotly,ImgPxlHeight_Plotly,SubGroup_PythonReport,YMin_Plotly,YMax_Plotly,OData__ColorTag,Group_PythonReport,FamilyRank,FamilyPct
0,ENV 04e,Aberdeen City,2007-11,Real_Annual,7,2,0.875,0.25,NaN,NaN,% of Unclassified Roads That Should be Conside...,ENV04e,ENV 04e,4 Year Aggregates,Percentage,0.0%,20.0,60.0,Environmental Services,Environment and Housing,"Environmental, Culture & Leisure, Economic Dev...",Environment & Place ; Roads & Land Operations,Ascending,0.0,SCOTS (Society of Chief Officers of Transporta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%,{:.1%},",.0%",1,NaN,NaN,812,305,Road Maintenance,NaN,NaN,NaN,Environment,2.0,0.25
1,ENV 04e,Aberdeen City,2008-12,Real_Annual,3,6,0.375,0.75,NaN,NaN,% of Unclassified Roads That Should be Conside...,ENV04e,ENV 04e,4 Year Aggregates,Percentage,0.0%,20.0,60.0,Environmental Services,Environment and Housing,"Environmental, Culture & Leisure, Economic Dev...",Environment & Place ; Roads & Land Operations,Ascending,0.0,SCOTS (Society of Chief Officers of Transporta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%,{:.1%},",.0%",1,NaN,NaN,812,305,Road Maintenance,NaN,NaN,NaN,Environment,6.0,0.75
2,ENV 04b,Aberdeen City,2009-11,Real_Annual,7,2,0.875,0.25,NaN,NaN,% of A class Roads That Should be Considered f...,ENV04b,ENV 04b,2 Year Aggregates (annual),Percentage,0.0%,20.0,40.0,Environmental Services,Environment and Housing,"Environmental, Culture & Leisure, Economic Dev...",Environment & Place ; Roads & Land Operations,Ascending,0.0,SCOTS (Society of Chief Officers of Transporta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%,{:.1%},",.0%",1,NaN,NaN,812,305,Road Maintenance,NaN,NaN,NaN,Environment,2.0,0.25

### Select and Rename Columns, Merge into 'data' Dataframe

In [757]:
familyRanks = familyRanks[[
                'Code_Sortable',
                'LocalAuthority',
                'Period',
                'FamilyRank',
                'FamilyPct',
                'DataType'
            ]]

scotRanks = scotRanks[[
                'Code_Sortable',
                'LocalAuthority',
                'Period',
                'ScotRank',
                'ScotPct',
                'DataType'
            ]]

ranks = familyRanks.merge(scotRanks, how='left', on = ['Code_Sortable','LocalAuthority','Period','DataType'])
ranks = ranks.rename(columns = {'Code_Sortable': 'Code'})
data = data.merge(ranks,how = 'left', on = ['Code','LocalAuthority','Period','DataType'])

displaywithHeader(data,'data')

,Code,LocalAuthority,Period,Value,Numerator,Denominator,FG_Type,Ranking_Type,Ranking_GoldilocksMidpoint,Family_Group,DataType,FamilyRank,FamilyPct,ScotRank,ScotPct
0,ENV 04e,Aberdeen City,2007-11,0.305982,NaN,NaN,"Environmental, Culture & Leisure, Economic Dev...",Ascending,NaN,Family Group 4,Real_Annual,2.0,0.25,6.0,0.18750
1,ENV 04e,Aberdeen City,2008-12,0.364000,NaN,NaN,"Environmental, Culture & Leisure, Economic Dev...",Ascending,NaN,Family Group 4,Real_Annual,6.0,0.75,15.0,0.46875
2,ENV 04b,Aberdeen City,2009-11,0.254941,NaN,NaN,"Environmental, Culture & Leisure, Economic Dev...",Ascending,NaN,Family Group 4,Real_Annual,2.0,0.25,11.0,0.34375

## Clean 'data' df

### Add Keys

In [758]:
data['Key_CodePeriodDType'] = data['Code'] + data['Period'] + data['DataType']
data['Key_CodePeriodFamilyGroupDType'] = data['Code'] + data['Period'] + data['Family_Group'] + data['DataType']
data['Key_CodePeriodLADType'] = data['Code'] + data['Period'] + data['LocalAuthority'] + data['DataType']
data['Iter_CodeLADType'] = data['Code'] + data['LocalAuthority'] + data['DataType']

displaywithHeader(data,'data')

,Code,LocalAuthority,Period,Value,Numerator,Denominator,FG_Type,Ranking_Type,Ranking_GoldilocksMidpoint,Family_Group,DataType,FamilyRank,FamilyPct,ScotRank,ScotPct,Key_CodePeriodDType,Key_CodePeriodFamilyGroupDType,Key_CodePeriodLADType,Iter_CodeLADType
0,ENV 04e,Aberdeen City,2007-11,0.305982,NaN,NaN,"Environmental, Culture & Leisure, Economic Dev...",Ascending,NaN,Family Group 4,Real_Annual,2.0,0.25,6.0,0.18750,ENV 04e2007-11Real_Annual,ENV 04e2007-11Family Group 4Real_Annual,ENV 04e2007-11Aberdeen CityReal_Annual,ENV 04eAberdeen CityReal_Annual
1,ENV 04e,Aberdeen City,2008-12,0.364000,NaN,NaN,"Environmental, Culture & Leisure, Economic Dev...",Ascending,NaN,Family Group 4,Real_Annual,6.0,0.75,15.0,0.46875,ENV 04e2008-12Real_Annual,ENV 04e2008-12Family Group 4Real_Annual,ENV 04e2008-12Aberdeen CityReal_Annual,ENV 04eAberdeen CityReal_Annual
2,ENV 04b,Aberdeen City,2009-11,0.254941,NaN,NaN,"Environmental, Culture & Leisure, Economic Dev...",Ascending,NaN,Family Group 4,Real_Annual,2.0,0.25,11.0,0.34375,ENV 04b2009-11Real_Annual,ENV 04b2009-11Family Group 4Real_Annual,ENV 04b2009-11Aberdeen CityReal_Annual,ENV 04bAberdeen CityReal_Annual

### Select Only Required Columns

In [759]:
data = data[
                [
                    'Key_CodePeriodDType',
                    'Key_CodePeriodFamilyGroupDType',
                    'Key_CodePeriodLADType',
                    'Code',
                    'LocalAuthority',
                    'Period',
                    'Value',
                    'Numerator',
                    'Denominator',
                    'FamilyRank',
                    'FamilyPct',
                    'ScotRank',
                    'ScotPct',
                    'DataType',
                    'Iter_CodeLADType'
                ]
            ]

displaywithHeader(data,'data')

,Key_CodePeriodDType,Key_CodePeriodFamilyGroupDType,Key_CodePeriodLADType,Code,LocalAuthority,Period,Value,Numerator,Denominator,FamilyRank,FamilyPct,ScotRank,ScotPct,DataType,Iter_CodeLADType
0,ENV 04e2007-11Real_Annual,ENV 04e2007-11Family Group 4Real_Annual,ENV 04e2007-11Aberdeen CityReal_Annual,ENV 04e,Aberdeen City,2007-11,0.305982,NaN,NaN,2.0,0.25,6.0,0.18750,Real_Annual,ENV 04eAberdeen CityReal_Annual
1,ENV 04e2008-12Real_Annual,ENV 04e2008-12Family Group 4Real_Annual,ENV 04e2008-12Aberdeen CityReal_Annual,ENV 04e,Aberdeen City,2008-12,0.364000,NaN,NaN,6.0,0.75,15.0,0.46875,Real_Annual,ENV 04eAberdeen CityReal_Annual
2,ENV 04b2009-11Real_Annual,ENV 04b2009-11Family Group 4Real_Annual,ENV 04b2009-11Aberdeen CityReal_Annual,ENV 04b,Aberdeen City,2009-11,0.254941,NaN,NaN,2.0,0.25,11.0,0.34375,Real_Annual,ENV 04bAberdeen CityReal_Annual

## Create Previous and First Row Dictionaries

### Sort Dataframe

In [760]:
data = data.copy(deep=True)
# Replace Month Names with Values For Sorting purposes
data['Period'] = data.Period.replace({'January': '01', 'February': '02', 'March': '03', 'April': '04', 'May': '05','June': '06', 'July': '07', 'August': '08', 'September': '09', 'October': '10', 'November': '11', 'December': '12'}, regex=True)
data.sort_values(by=['DataType', 'LocalAuthority', 'Code', 'Period'], inplace=True)

displaywithHeader(data,'data')

,Key_CodePeriodDType,Key_CodePeriodFamilyGroupDType,Key_CodePeriodLADType,Code,LocalAuthority,Period,Value,Numerator,Denominator,FamilyRank,FamilyPct,ScotRank,ScotPct,DataType,Iter_CodeLADType
52057,C&L 012010-11Cash_Annual,C&L 012010-11Family Group 4Cash_Annual,C&L 012010-11Aberdeen CityCash_Annual,C&L 01,Aberdeen City,2010-11,0.33,637000.0,1922292.0,1.0,0.125,1.0,0.03125,Cash_Annual,C&L 01Aberdeen CityCash_Annual
52133,C&L 012011-12Cash_Annual,C&L 012011-12Family Group 4Cash_Annual,C&L 012011-12Aberdeen CityCash_Annual,C&L 01,Aberdeen City,2011-12,0.76,1554000.0,2045051.0,1.0,0.125,1.0,0.03125,Cash_Annual,C&L 01Aberdeen CityCash_Annual
52210,C&L 012012-13Cash_Annual,C&L 012012-13Family Group 4Cash_Annual,C&L 012012-13Aberdeen CityCash_Annual,C&L 01,Aberdeen City,2012-13,3.64,7883000.0,2163756.0,5.0,0.625,24.0,0.75000,Cash_Annual,C&L 01Aberdeen CityCash_Annual

### Define Variables for Loops

In [761]:
Previouss = []
Previous = None
Firsts = []
First = None
FirstSave = None
LocalAuthority = ""
DataType = ""
Code = ""
Period = ""
Value = ""
Numerator = ""
Denominator = ""
ScotRank = ""
ScotPct = ""
FamilyRank = ""
FamilyPct = ""
Iter_CodeLADType = ""

### Loop 'data' Dataframe and Record Previous and Firsts into List of Dictionaries

In [762]:
for row in data.itertuples():
    # If the curently stored Local_Authority and Code are both equal to the current row then this is not the first row for this indicator and local authority combination. As such Previous is calculated using all of the currently stored values in the variables (these are written to at the end of each loop) and First is populated using the stored dictionary in First_Save
    if Iter_CodeLADType == row.Iter_CodeLADType :
        Previous = {
            'Value': Value,
            'Numerator': Numerator,
            'Denominator': Denominator,
            'ScotRank': ScotRank,
            'ScotPct': ScotPct,
            'FamilyRank': FamilyRank,
            'FamilyPct': FamilyPct
        }
        First = FirstSave

    # If the curently stored Local_Authority and Code are both not equal to the current row then this is the first row for this indicator and local authority combination. as such the Previous object is set to None and the First object is populated using this rows values.
    elif Iter_CodeLADType != row.Iter_CodeLADType :
        FirstSave = {
            'Value': row.Value,
            'Numerator': row.Numerator,
            'Denominator': row.Denominator,
            'ScotRank': row.ScotRank,
            'ScotPct': row.ScotPct,
            'FamilyRank': row.FamilyRank,
            'FamilyPct': row.FamilyPct
        }
        First = None
        Previous = None

    # Append the First and Previous into their respective list variables.
    Previouss.append(Previous)
    Firsts.append(First)

    # Set all other variables to their respective columns values in the current row. This is used to both evaluate the if criteria above and to populate the next previous object.
    Data_Type = row.DataType
    Local_Authority = row.LocalAuthority
    Code = row.Code
    Period = row.Period
    Value = row.Value
    Numerator = row.Numerator
    Denominator = row.Denominator
    ScotRank = row.ScotRank
    ScotPct = row.ScotPct
    FamilyRank = row.FamilyRank
    FamilyPct = row.FamilyPct
    Iter_CodeLADType = row.Iter_CodeLADType

### Assign List Variables to Columns in 'data' Dataframe

In [763]:
data['Previous_Row'] = Previouss
data['First_Row'] = Firsts

displaywithHeader(data,'data')

,Key_CodePeriodDType,Key_CodePeriodFamilyGroupDType,Key_CodePeriodLADType,Code,LocalAuthority,Period,Value,Numerator,Denominator,FamilyRank,FamilyPct,ScotRank,ScotPct,DataType,Iter_CodeLADType,Previous_Row,First_Row
52057,C&L 012010-11Cash_Annual,C&L 012010-11Family Group 4Cash_Annual,C&L 012010-11Aberdeen CityCash_Annual,C&L 01,Aberdeen City,2010-11,0.33,637000.0,1922292.0,1.0,0.125,1.0,0.03125,Cash_Annual,C&L 01Aberdeen CityCash_Annual,None,None
52133,C&L 012011-12Cash_Annual,C&L 012011-12Family Group 4Cash_Annual,C&L 012011-12Aberdeen CityCash_Annual,C&L 01,Aberdeen City,2011-12,0.76,1554000.0,2045051.0,1.0,0.125,1.0,0.03125,Cash_Annual,C&L 01Aberdeen CityCash_Annual,"{'Value': 0.33, 'Numerator': 637000.0, 'Denomi...","{'Value': 0.33, 'Numerator': 637000.0, 'Denomi..."
52210,C&L 012012-13Cash_Annual,C&L 012012-13Family Group 4Cash_Annual,C&L 012012-13Aberdeen CityCash_Annual,C&L 01,Aberdeen City,2012-13,3.64,7883000.0,2163756.0,5.0,0.625,24.0,0.75000,Cash_Annual,C&L 01Aberdeen CityCash_Annual,"{'Value': 0.76, 'Numerator': 1554000.0, 'Denom...","{'Value': 0.33, 'Numerator': 637000.0, 'Denomi..."

## Create Comparison to First and Previous Row Dictionaries

### Save Info as Dictionary

In [764]:
Info_dict = info.set_index('Code_Sortable').to_dict('index')
Info_dict = NocaseDict(Info_dict)

### Define Value Change Function

In [765]:
# There are two niche cases here. One where previous and current values are both 0 resulting in 0% in all cases. Another where only the previous value is 0 resulting in None being returned as it is not possible to calculate % change from 0. Having looked at the dataset this has only occured 3 times and only affects Orkney and Eilean Siar for CHN20b. Further to this changes in percentage indicators are calculated using 100 as a denominator rather than previous. This is to avoid situations where very small percentages return 1000% or more change (which for our purposes seemed unreasonable to report).
def PercentChange_AimAdjusted(Previous, Current, Code):
    Aim = None
    SignedChange = None
    PercentChange = None
    GoldiMid = None
    IsPercentage = False

    if Previous == 0 and Current == 0:
        PercentChange = 0

    indicatorInfo = Info_dict[Code]
    Aim = indicatorInfo['Ranking_Type']
    GoldiMid = indicatorInfo['Ranking_GoldilocksMidpoint']
    IsPercentage = indicatorInfo['MeasureType'] == 'Percentage'

    if IsPercentage != True and Previous != 0:
        if Aim == "Descending":
            SignedChange = distance(Current, Previous)
            PercentChange = SignedChange/Previous
        if Aim == "Ascending":
            SignedChange = -distance(Current, Previous)
            PercentChange = SignedChange/Previous
        if Aim == "Goldilocks":
            Current_DistGoldi = abs(distance(Current, GoldiMid))
            Previous_DistGoldi = abs(distance(Previous, GoldiMid))
            SignedChange = distance(Previous_DistGoldi, Current_DistGoldi)
            PercentChange = SignedChange/Previous_DistGoldi
            
    elif IsPercentage == True and Previous != 0:
        if Aim == "Descending":
            PercentChange = distance(Current, Previous)
        if Aim == "Ascending":
            PercentChange = -distance(Current, Previous)
        if Aim == "Goldilocks":
            Current_DistGoldi = abs(distance(Current, GoldiMid))
            Previous_DistGoldi = abs(distance(Previous, GoldiMid))
            PercentChange = distance(Previous_DistGoldi, Current_DistGoldi)

    return PercentChange

### Define Row Comparison Function

In [766]:
def Changes(df):

    # Set the intial value of the return variable to none. This allows us to test to see if there were any changes present for a row and then return None instead of a dictionary of None values if not.
    Changes = None

    # Define all variables that will contain all of the relevant changes for a row.
    ScotRank_ChangeSincePrevious = None
    ScotPct_ChangeSincePrevious = None
    FamilyRank_ChangeSincePrevious = None
    FamilyPct_ChangeSincePrevious = None
    Value_ChangeSincePrevious = None
    Numerator_ChangeSincePrevious = None
    Denominator_ChangeSincePrevious = None
    ScotRank_ChangeSinceFirst = None
    ScotPct_ChangeSinceFirst = None
    FamilyRank_ChangeSinceFirst = None
    FamilyPct_ChangeSinceFirst = None
    Value_ChangeSinceFirst = None
    Numerator_ChangeSinceFirst = None
    Denominator_ChangeSinceFirst = None
    PercentChange_AimAdjusted_SincePrevious = None
    PercentChange_AimAdjusted_SinceFirst = None

    # If the value currently in Previous_Row is not None then there exists a previous object to calculate the changes using.
    if df['Previous_Row'] != None:
        # Calculate all differences by comparing the current rows value to the same columns value in the Previous_Row dictionary. Ranks and Percentiles are always positive so the calculations are more simple. The other values use the distance function defined at the start of the notebook to determine the signed difference between the values (comparing a current value of -1 to a previous value of 2 will result in -3 difference.)
        ScotRank_ChangeSincePrevious = - (df['ScotRank'] - df['Previous_Row'].get('ScotRank'))
        ScotPct_ChangeSincePrevious = - (df['ScotPct'] - df['Previous_Row'].get('ScotPct'))
        FamilyRank_ChangeSincePrevious = - (df['FamilyRank'] - df['Previous_Row'].get('FamilyRank'))
        FamilyPct_ChangeSincePrevious = - (df['FamilyPct'] - df['Previous_Row'].get('FamilyPct'))
        Value_ChangeSincePrevious = distance(df['Value'], df['Previous_Row'].get('Value'))
        Numerator_ChangeSincePrevious = distance(df['Numerator'], df['Previous_Row'].get('Numerator'))
        Denominator_ChangeSincePrevious = distance(df['Denominator'], df['Previous_Row'].get('Denominator'))
        PercentChange_AimAdjusted_SincePrevious = PercentChange_AimAdjusted(df['Previous_Row'].get('Value'), df['Value'], df['Code'])
        #Set Changes to true to avoid creating a dictionary of None values
        Changes = True

    # If the value currently in First_Row is not None then there exists a previous object to calculate the changes using.
    if df['First_Row'] != None:
        # Calculate all differences by comparing the current rows value to the same columns value in the First_Row dictionary. Ranks and Percentiles are always positive so the calculations are more simple. The other values use the distance function defined at the start of the notebook to determine the signed difference between the values (comparing a current value of -1 to a previous value of 2 will result in -3 difference.)
        ScotRank_ChangeSinceFirst = - (df['ScotRank'] - df['First_Row'].get('ScotRank'))
        ScotPct_ChangeSinceFirst = - (df['ScotPct'] - df['First_Row'].get('ScotPct'))
        FamilyRank_ChangeSinceFirst = - (df['FamilyRank'] - df['First_Row'].get('FamilyRank'))
        FamilyPct_ChangeSinceFirst = - (df['FamilyPct'] - df['First_Row'].get('FamilyPct'))
        Value_ChangeSinceFirst = distance(df['Value'], df['First_Row'].get('Value'))
        Numerator_ChangeSinceFirst = distance(df['Numerator'], df['First_Row'].get('Numerator'))
        Denominator_ChangeSinceFirst = distance(df['Denominator'], df['First_Row'].get('Denominator'))
        PercentChange_AimAdjusted_SinceFirst = PercentChange_AimAdjusted(df['First_Row'].get('Value'), df['Value'], df['Code'])
        #Set Changes to true to avoid creating a dictionary of None values
        Changes = True

    # If there were changes recorded in the previous steps then write these changes into a python dictionary and assign this to Changes
    if Changes != None:
        Changes = {
            "ScotRank_ChangeSincePrevious": ScotRank_ChangeSincePrevious,
            "ScotPct_ChangeSincePrevious": ScotPct_ChangeSincePrevious,
            "FamilyRank_ChangeSincePrevious": FamilyRank_ChangeSincePrevious,
            "FamilyPct_ChangeSincePrevious": FamilyPct_ChangeSincePrevious,
            "ScotRank_ChangeSinceFirst": ScotRank_ChangeSinceFirst,
            "ScotPct_ChangeSinceFirst": ScotPct_ChangeSinceFirst,
            "FamilyRank_ChangeSinceFirst": FamilyRank_ChangeSinceFirst,
            "FamilyPct_ChangeSinceFirst": FamilyPct_ChangeSinceFirst,
            "Value_ChangeSincePrevious": Value_ChangeSincePrevious,
            "Numerator_ChangeSincePrevious": Numerator_ChangeSincePrevious,
            "Denominator_ChangeSincePrevious": Denominator_ChangeSincePrevious,
            "Value_ChangeSinceFirst": Value_ChangeSinceFirst,
            "Numerator_ChangeSinceFirst": Numerator_ChangeSinceFirst,
            "Denominator_ChangeSinceFirst": Denominator_ChangeSinceFirst,
            "PercentChange_AimAdjusted_SincePrevious": PercentChange_AimAdjusted_SincePrevious,
            "PercentChange_AimAdjusted_SinceFirst": PercentChange_AimAdjusted_SinceFirst
        }

    return Changes

### Apply Functions Above

In [767]:
data['Changes'] = data.apply(Changes, axis=1)

displaywithHeader(data,'data')

,Key_CodePeriodDType,Key_CodePeriodFamilyGroupDType,Key_CodePeriodLADType,Code,LocalAuthority,Period,Value,Numerator,Denominator,FamilyRank,FamilyPct,ScotRank,ScotPct,DataType,Iter_CodeLADType,Previous_Row,First_Row,Changes
52057,C&L 012010-11Cash_Annual,C&L 012010-11Family Group 4Cash_Annual,C&L 012010-11Aberdeen CityCash_Annual,C&L 01,Aberdeen City,2010-11,0.33,637000.0,1922292.0,1.0,0.125,1.0,0.03125,Cash_Annual,C&L 01Aberdeen CityCash_Annual,None,None,None
52133,C&L 012011-12Cash_Annual,C&L 012011-12Family Group 4Cash_Annual,C&L 012011-12Aberdeen CityCash_Annual,C&L 01,Aberdeen City,2011-12,0.76,1554000.0,2045051.0,1.0,0.125,1.0,0.03125,Cash_Annual,C&L 01Aberdeen CityCash_Annual,"{'Value': 0.33, 'Numerator': 637000.0, 'Denomi...","{'Value': 0.33, 'Numerator': 637000.0, 'Denomi...","{'ScotRank_ChangeSincePrevious': -0.0, 'ScotPc..."
52210,C&L 012012-13Cash_Annual,C&L 012012-13Family Group 4Cash_Annual,C&L 012012-13Aberdeen CityCash_Annual,C&L 01,Aberdeen City,2012-13,3.64,7883000.0,2163756.0,5.0,0.625,24.0,0.75000,Cash_Annual,C&L 01Aberdeen CityCash_Annual,"{'Value': 0.76, 'Numerator': 1554000.0, 'Denom...","{'Value': 0.33, 'Numerator': 637000.0, 'Denomi...","{'ScotRank_ChangeSincePrevious': -23.0, 'ScotP..."

## Convert Dictionary Columns to JSON Columns

In [768]:
def PreviousConvertToJson(df):
    Previous_Row = simplejson.dumps(df['Previous_Row'], ignore_nan=True)
    return Previous_Row


def FirstConvertToJson(df):
    First_Row = simplejson.dumps(df['First_Row'], ignore_nan=True)
    return First_Row


def ChangesConvertToJson(df):
    Changes = simplejson.dumps(df['Changes'], ignore_nan=True)
    return Changes

data['Previous_Row'] = data.apply(PreviousConvertToJson, axis=1)
data['First_Row'] = data.apply(FirstConvertToJson, axis=1)
data['Changes'] = data.apply(ChangesConvertToJson, axis=1)

displaywithHeader(data,'data')

,Key_CodePeriodDType,Key_CodePeriodFamilyGroupDType,Key_CodePeriodLADType,Code,LocalAuthority,Period,Value,Numerator,Denominator,FamilyRank,FamilyPct,ScotRank,ScotPct,DataType,Iter_CodeLADType,Previous_Row,First_Row,Changes
52057,C&L 012010-11Cash_Annual,C&L 012010-11Family Group 4Cash_Annual,C&L 012010-11Aberdeen CityCash_Annual,C&L 01,Aberdeen City,2010-11,0.33,637000.0,1922292.0,1.0,0.125,1.0,0.03125,Cash_Annual,C&L 01Aberdeen CityCash_Annual,null,null,null
52133,C&L 012011-12Cash_Annual,C&L 012011-12Family Group 4Cash_Annual,C&L 012011-12Aberdeen CityCash_Annual,C&L 01,Aberdeen City,2011-12,0.76,1554000.0,2045051.0,1.0,0.125,1.0,0.03125,Cash_Annual,C&L 01Aberdeen CityCash_Annual,"{""Value"": 0.33, ""Numerator"": 637000.0, ""Denomi...","{""Value"": 0.33, ""Numerator"": 637000.0, ""Denomi...","{""ScotRank_ChangeSincePrevious"": -0.0, ""ScotPc..."
52210,C&L 012012-13Cash_Annual,C&L 012012-13Family Group 4Cash_Annual,C&L 012012-13Aberdeen CityCash_Annual,C&L 01,Aberdeen City,2012-13,3.64,7883000.0,2163756.0,5.0,0.625,24.0,0.75000,Cash_Annual,C&L 01Aberdeen CityCash_Annual,"{""Value"": 0.76, ""Numerator"": 1554000.0, ""Denom...","{""Value"": 0.33, ""Numerator"": 637000.0, ""Denomi...","{""ScotRank_ChangeSincePrevious"": -23.0, ""ScotP..."

## Separate Latest Values into Dataframe

In [769]:
LatestValues = data.copy(deep=True)
LatestValues.sort_values(by=['DataType','LocalAuthority', 'Code', 'Period'], inplace=True)
LatestValues = LatestValues.groupby(['DataType', 'LocalAuthority', 'Code']).tail(1)
LatestValues = LatestValues[
                            ['Key_CodePeriodDType',
                             'Key_CodePeriodLADType',
                             'Key_CodePeriodFamilyGroupDType',
                             'DataType',
                             'LocalAuthority',
                             'Code',
                             'Period',
                             'Value',
                             'Numerator',
                             'Denominator',
                             'ScotRank',
                             'ScotPct', 
                             'FamilyRank',
                             'FamilyPct',
                             'Previous_Row',
                             'First_Row', 
                             'Changes']
                            ]

displaywithHeader(LatestValues,'LatestValues')

,Key_CodePeriodDType,Key_CodePeriodLADType,Key_CodePeriodFamilyGroupDType,DataType,LocalAuthority,Code,Period,Value,Numerator,Denominator,ScotRank,ScotPct,FamilyRank,FamilyPct,Previous_Row,First_Row,Changes
53558,C&L 012022-23Cash_Annual,C&L 012022-23Aberdeen CityCash_Annual,C&L 012022-23Family Group 4Cash_Annual,Cash_Annual,Aberdeen City,C&L 01,2022-23,4.24,7352000.0,1734240.0,16.0,0.50000,4.0,0.500,"{""Value"": 4.8, ""Numerator"": 6888000.0, ""Denomi...","{""Value"": 0.33, ""Numerator"": 637000.0, ""Denomi...","{""ScotRank_ChangeSincePrevious"": -5.0, ""ScotPc..."
53559,C&L 022022-23Cash_Annual,C&L 022022-23Aberdeen CityCash_Annual,C&L 022022-23Family Group 4Cash_Annual,Cash_Annual,Aberdeen City,C&L 02,2022-23,2.44,4025000.0,1648447.0,11.0,0.34375,2.0,0.250,"{""Value"": 2.45, ""Numerator"": 3300000.0, ""Denom...","{""Value"": 3.6, ""Numerator"": 5695000.0, ""Denomi...","{""ScotRank_ChangeSincePrevious"": -2.0, ""ScotPc..."
53560,C&L 032022-23Cash_Annual,C&L 032022-23Aberdeen CityCash_Annual,C&L 032022-23Family Group 4Cash_Annual,Cash_Annual,Aberdeen City,C&L 03,2022-23,3.13,4190000.0,1339942.0,10.0,0.37037,3.0,0.375,"{""Value"": 3.13, ""Numerator"": 3722000.0, ""Denom...","{""Value"": 5.02, ""Numerator"": 3528000.0, ""Denom...","{""ScotRank_ChangeSincePrevious"": -2.0, ""ScotPc..."

## Error Checks

In [770]:
# Default position is to assume checks are passed. If any of the checks (excluding numerator denominator checks) are failed below this will be changed and the final csv's will not be output. The numerator denominator errors should be checked at each refresh. The known errors (which exist within the LGBF raw data file) will be identified in the readme in the Error Outputs folder.
ChecksFailed = False

# ScotRank should be between 32 and 1 and should not contain any NaN values
if not data['ScotRank'].between(1, 32).any() or data['ScotRank'].isnull().values.any():

    ChecksFailed = True
    maxrank = str(max(data['ScotRank']))
    minrank = str(min(data['ScotRank']))
    countnull = str(data['ScotRank'].isna().sum())

    print(f'ScotRank checks failed : Max - {maxrank}, Min - {minrank}, Count of Null - {countnull}')

# FamilyRank should be between 8 and 1 and should not contain any NaN values
if not data['FamilyRank'].between(1, 8).any() or data['FamilyRank'].isnull().values.any():

    ChecksFailed = True
    maxrank = str(max(data['FamilyRank']))
    minrank = str(min(data['FamilyRank']))
    countnull = str(data['FamilyRank'].isna().sum())

    print(f'FamilyRank checks failed : Max - {maxrank}, Min - {minrank}, Count of Null - {countnull}')

# Code, Local_Authority, Period, Value should not contain any null values
if data[['Code', 'LocalAuthority', 'Period', 'Value']].isnull().values.any():

    ChecksFailed = True
    countnullCode = str(data['Code'].isna().sum())
    countnullLocal_Authority = str(data['LocalAuthority'].isna().sum())
    countnullPeriod = str(data['Period'].isna().sum())
    countnullReal_Value = str(data['Value'].isna().sum())

    print(f'Null values found : Code - {countnullCode}, LocalAuthority - {countnullLocal_Authority}, Period - {countnullPeriod}, Value - {countnullReal_Value}')

# Value should equal numerator/denominator for both cash and real - These errors have been checked and exist in the original raw data file.
NumDenCheck = data.copy(deep=True)
NumDenCheck = NumDenCheck[pd.notnull(NumDenCheck['Numerator'])]

NumDenDivide_Checks = []
NumDenDivide_Check = None
FailReferences = []

for row in NumDenCheck.itertuples():
    if row.Value == 0 or math.isnan(row.Denominator) or math.isnan(row.Numerator):
        NumDenDivide_Check = None
    else:
        if math.isclose(row.Numerator/row.Denominator, row.Value, rel_tol=0.02):
            NumDenDivide_Check = True
        else:
            NumDenDivide_Check = False
            FailReferences.append(row.DataType + ":" + row.Code + ":" + row.Period + ":" + row.LocalAuthority + ":" + str(row.Value) + ":" + str(row.Numerator) + ":" + str(row.Denominator))

    NumDenDivide_Checks.append(NumDenDivide_Check)

if False in NumDenDivide_Checks :
    print("Numerator/Denominator values check failed : See Error Outputs for csv of failures")
    FailReferences = sorted(list(set(FailReferences)))
    FailReferences = pd.DataFrame([sub.split(":") for sub in FailReferences])
    FailReferences = FailReferences.rename(columns={0: 'Type', 1: 'Code', 2: 'Period', 3: 'Local Authority', 4: 'Value', 5: 'Numerator', 6: 'Denominator'})
    FailReferences.to_csv("Error Outputs//Numerator Denominator Fail References.csv", index=False, encoding='utf-8-sig')

Numerator/Denominator values check failed : See Error Outputs for csv of failures

### Separate Files for Export to Avoid Github File Size Issues

In [771]:
data_realAnnual = data.query('DataType == "Real_Annual"')
data_cashAnnual = data.query('DataType == "Cash_Annual"')

data_realQuarterly = data.query('DataType == "Real_Quarterly"')
data_cashQuarterly = data.query('DataType == "Cash_Quarterly"')

data_realMonthly = data.query('DataType == "Real_Monthly"')
data_cashMonthly = data.query('DataType == "Cash_Monthly"')

## Output Files

In [772]:
scotValues.to_csv('Data Files\\Scottish Values.csv',index=False, encoding='utf-8-sig')
scotAverages.to_csv('Data Files\\Scottish Averages.csv', index=False, encoding='utf-8-sig')
FGAverages.to_csv('Data Files\\Family Averages.csv',index=False, encoding='utf-8-sig')
data_realAnnual.to_csv('Data Files\\Indicator Data - Real - Annual.csv',index=False, encoding='utf-8-sig')
data_cashAnnual.to_csv('Data Files\\Indicator Data - Cash - Annual.csv',index=False, encoding='utf-8-sig')
data_realQuarterly.to_csv('Data Files\\Indicator Data - Real - Quarterly.csv',index=False, encoding='utf-8-sig')
data_cashQuarterly.to_csv('Data Files\\Indicator Data - Cash - Quarterly.csv',index=False, encoding='utf-8-sig')
data_realMonthly.to_csv('Data Files\\Indicator Data - Real - Monthly.csv',index=False, encoding='utf-8-sig')
data_cashMonthly.to_csv('Data Files\\Indicator Data - Cash - Monthly.csv',index=False, encoding='utf-8-sig')
LatestValues.to_csv("Data Files//Latest Values.csv", index = False, encoding='utf-8-sig')